body {
    background: red;
    font-size: 2em;
    margin: 20px;
    padding: 30px;
    color: pink;
    display: flex;
    justify-content: center;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}