body {
    background: red;
    font-size: 2em;
    margin: 20px;
    padding: 30px;
    color: pink;
    border: 1px solid black;
    border: 10px solid red;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}