body {
    background: red;
    font-size: 2em;
    margin: 100px;
    padding: 30px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}